In [1]:
import os, sys
pth = os.path.join(os.getcwd(), "povertyequity", "urban_growth") # Personal folder system for running model.
pth

'C:\\Users\\grace\\GIS\\povertyequity\\urban_growth'

In [2]:
import geopandas as gpd
import pandas

In [3]:
gpd.show_versions()

SYSTEM INFO
-----------
python     : 3.10.6 | packaged by conda-forge | (main, Aug 22 2022, 20:29:51) [MSC v.1929 64 bit (AMD64)]
executable : C:\Users\grace\miniconda3\envs\geo\python.exe
machine    : Windows-10-10.0.22000-SP0

GEOS, GDAL, PROJ INFO
---------------------
GEOS       : None
GEOS lib   : None
GDAL       : 3.5.2
GDAL data dir: None
PROJ       : 9.0.1
PROJ data dir: C:\Users\grace\miniconda3\envs\geo\Library\share\proj

PYTHON DEPENDENCIES
-------------------
geopandas  : 0.11.1
numpy      : 1.23.3
pandas     : 1.4.4
pyproj     : 3.4.0
shapely    : 1.8.4
fiona      : 1.8.21
geoalchemy2: None
geopy      : None
matplotlib : 3.5.3
mapclassify: 2.4.3
pygeos     : 0.13
pyogrio    : None
psycopg2   : None
pyarrow    : None
rtree      : 1.0.0

In [4]:
#df1 = gpd.read_file("https://github.com/gracedoherty/urban_growth/blob/main/df1.zip?raw=true")
#df2 = gpd.read_file("https://github.com/gracedoherty/urban_growth/blob/main/df2.zip?raw=true")
df1 = gpd.read_file("povertyequity/urban_growth/WSFE_ADM3_ply.shp")
df2 = gpd.read_file("povertyequity/urban_growth/GRID3_ADM3_ply.shp")

In [5]:
df1.sample(10)

,Id,gridcode,Shape_Area,year,ADM3_OBJID,geometry
126598,131172,1512007,797.898658,2007,151,"POLYGON ((-1499594.514 705164.426, -1499622.76..."
248296,255682,3032000,2393.704449,2000,303,"POLYGON ((-1547614.683 653556.868, -1547642.93..."
351397,362399,1782008,797.904308,2008,178,"POLYGON ((-1621452.754 593757.635, -1621481.00..."
269753,277833,3321998,797.901483,1998,332,"POLYGON ((-1562529.182 646975.281, -1562557.42..."
470747,485534,2972002,797.904308,2002,297,"POLYGON ((-1424428.826 466701.918, -1424457.07..."
526256,542685,882003,797.904308,2003,88,"POLYGON ((-1395560.230 446222.728, -1395588.47..."
384490,396586,622004,797.898659,2004,62,"POLYGON ((-1174046.016 539862.057, -1174074.26..."
398009,410625,1821998,797.901483,1998,182,"POLYGON ((-1663428.031 523309.222, -1663456.27..."
344378,355242,1802015,1595.805791,2015,180,"POLYGON ((-1593431.573 601356.120, -1593459.82..."
202048,208487,1402000,797.901483,2000,140,"POLYGON ((-1441659.592 670646.399, -1441687.83..."

In [15]:
df1.reset_index(inplace=True)
df1.rename(columns={'index': 'WSFE_ID'}, inplace=True)
df1 = df1.drop(columns=['Id', 'gridcode', 'Shape_Area'])
df1.sample(10)

,WSFE_ID,year,ADM3_OBJID,geometry
564596,564596,2013,69,"POLYGON ((-1380815.214 347244.686, -1380843.46..."
450673,450673,2001,169,"POLYGON ((-1640095.878 472520.832, -1640124.12..."
148163,148163,1994,300,"POLYGON ((-1523039.655 694656.484, -1523067.90..."
573167,573167,2015,8,"POLYGON ((-1389713.069 329985.672, -1389741.31..."
113224,113224,2011,154,"POLYGON ((-1528406.615 739032.769, -1528434.86..."
412258,412258,2001,54,"POLYGON ((-1034928.763 493254.246, -1034928.76..."
362974,362974,1999,120,"POLYGON ((-1576285.548 569917.033, -1576313.79..."
271831,271831,2007,137,"POLYGON ((-1519000.311 646551.573, -1519028.55..."
30439,30439,2001,261,"POLYGON ((-1110772.382 1247312.132, -1110800.6..."
415476,415476,2013,51,"POLYGON ((-1261753.442 488960.678, -1261696.94..."

In [16]:
df2.sample(10)

,Id,gridcode,Shape_Area,gridstring,ADM3_OBJID,GRID3_OBJI,geometry
161767,161768,159201251,17553.843928,159201251,251,159201,"POLYGON ((-1084384.239 1181597.315, -1084497.2..."
105315,105316,103202197,11170.623588,103202197,197,103202,"POLYGON ((-1499617.463 791362.825, -1499702.20..."
35946,35947,34764054,18351.739761,034764054,54,34764,"POLYGON ((-1044866.465 503976.239, -1044951.20..."
23102,23103,22459075,59044.740823,022459075,75,22459,"POLYGON ((-1346941.573 391213.583, -1346969.82..."
190643,190644,187477088,411717.439289,187477088,88,187477,"POLYGON ((-1395300.708 436070.071, -1395300.70..."
165038,165039,162425242,12766.429379,162425242,242,162425,"POLYGON ((-1181610.957 1211059.101, -1181667.4..."
61252,61253,59563139,29522.377473,059563139,139,59563,"POLYGON ((-1482273.708 641652.887, -1482414.94..."
118950,118951,116758206,67821.665611,116758206,206,116758,"POLYGON ((-1272764.536 826445.796, -1272877.52..."
18441,18442,17892292,49469.928675,017892292,292,17892,"POLYGON ((-1422333.238 501801.207, -1422304.99..."
50825,50826,49317290,63034.228466,049317290,290,49317,"POLYGON ((-1522751.886 663968.142, -1522751.88..."

In [17]:
df2.reset_index(inplace=True)
df2.rename(columns={'index': 'GRID3_splitID', 'GRID3_OBJI':'GRID3_origID'}, inplace=True)
df2 = df2.drop(columns=['Id', 'gridcode', 'Shape_Area', 'gridstring'])
df2.sample(10)

,GRID3_splitID,ADM3_OBJID,GRID3_origID,geometry
74499,74499,67,72733,"POLYGON ((-1092321.690 545132.348, -1092434.67..."
40000,40000,179,38744,"POLYGON ((-1592437.625 573436.000, -1592522.36..."
115189,115189,207,113018,"POLYGON ((-1268103.755 742325.759, -1268188.49..."
187721,187721,331,184766,"POLYGON ((-1090457.378 1506524.375, -1090485.6..."
205180,205180,282,201004,"POLYGON ((-1052973.399 1429522.621, -1052945.1..."
65621,65621,138,63896,"POLYGON ((-1456145.087 654392.355, -1456201.58..."
148808,148808,215,146378,"POLYGON ((-1145087.382 1084342.349, -1145030.8..."
110960,110960,207,108812,"POLYGON ((-1350754.940 794413.518, -1350839.68..."
160780,160780,251,158233,"POLYGON ((-1083339.094 1176371.590, -1083423.8..."
2334,2334,5,2154,"POLYGON ((-1513289.088 358079.667, -1513373.82..."

In [18]:
# shard the smaller dataframe into a dict
shards = {k:d for k, d in df2.groupby("ADM3_OBJID")}

In [19]:
# now just group by ADM, sjoin_nearest appropriate shard
df_n = df1.groupby("ADM3_OBJID").apply(lambda d: gpd.sjoin_nearest(d, shards[d["ADM3_OBJID"].values[0]], max_distance=500))

In [20]:
df_n.sample(5, random_state=42)

,,WSFE_ID,year,ADM3_OBJID_left,geometry,index_right,GRID3_splitID,ADM3_OBJID_right,GRID3_origID
ADM3_OBJID,,,,,,,,,
290,232497,232497,2002,290,"POLYGON ((-1528067.649 659347.536, -1528095.89...",79,79,290,57
318,310698,310698,1998,318,"POLYGON ((-1517559.706 630704.918, -1517587.95...",414,414,318,287
132,337950,337950,1985,132,"POLYGON ((-1515638.900 607457.506, -1515695.39...",394,394,132,283
302,298453,298453,2015,302,"POLYGON ((-1555100.179 638416.392, -1555128.42...",80,80,302,57
15,544549,544549,2014,15,"POLYGON ((-1579082.017 428935.467, -1579082.01...",189601,189601,15,186547

In [10]:
df_n.to_file("CMN_WSFE_GRID3.gpkg", layer="WSFE_GRID3_NearSharding", driver="GPKG")

C:\Users\grace\AppData\Local\Temp\ipykernel_7580\3949443073.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  df_n.to_file(driver="ESRI Shapefile", filename="WSFE_GRID3_nearbygroupShard.shp")